*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.idea/caches/
.idea/codeStyles/Project.xml
.idea/findbugs-idea.xml
.idea/git_toolbox_prj.xml
.idea/inspectionProfiles/
.idea/kotlinc.xml
.idea/vcs.xml
/.idea/modules.xml
.DS_Store
/captures
.externalNativeBuild
/build
app/schemas/
